@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

 html,
    body {
        height: 100%;
        width: 100%;
    }
    body {
        margin: 0;
        font-family: 'Roboto Slab', serif;
        color:#000;
    }

    .navbar-inverse {
        background-image: -webkit-linear-gradient(top, #2e2e3c, #09091a); /* For Chrome and Safari */
        background-image:    -moz-linear-gradient(top, #2e2e3c, #09091a); /* For old Fx (3.6 to 15) */
        background-image:     -ms-linear-gradient(top, #2e2e3c, #09091a); /* For pre-releases of IE 10*/
        background-image:      -o-linear-gradient(top, #2e2e3c, #09091a); /* For old Opera (11.1 to 12.0) */
        background-image:         linear-gradient(to bottom, #2e2e3c, #09091a); /* Standard syntax; must be last */
    }


    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #fff;
    }

    .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
        color: #ddd;
    }

    .row{
      background-attachment: fixed;
      background-position: 20% 20%;
      background-color: #ddd;
      border-bottom: 2px solid rgba(0,0,0,0.5);
      padding:5%;
      font-size:30px;
    }

    .results{
      width:100%;
    }

/*==========  Train Styling  ==========*/
.train-1, .train-2, .train-3
{
  background-color:#EF4836;
}

.train-4, .train-5, .train-5x, .train-6, .train-6x{
  background-color:#26A65B
}

.train-7, .train-7x{
  background-color:#9B59B6;
}

.train-A, .train-C, .train-E{
  background-color:#2574A9;
}

.train-B, .train-D, .train-F, .train-M{
  background-color:#F27935;
}

.train-G{
  background-color:#3FC380
}

.train-L, .train-GS, .train-H{
  background-color:#95A5A6
}

.train-J, .train-Z{

}

.train-N, .train-Q, .train-R{
  background-color:#F9BF3B;
}